// mixins with max widths
@mixin max1600 {
    width: 100%;
    max-width: 1600px;
}

@mixin max1400 {
    width: 100%;
    max-width: 1400px;
}

@mixin max1000 {
    width: 100%;
    max-width: 1000px;
}

@mixin max800 {
    width: 100%;
    max-width: 800px;
}

@mixin max600 {
    width: 100%;
    max-width: 600px;
}